.text {
    &__huge {
        font-size: 5rem;
    }
    &__big {
        font-size: 3rem;
    }
    &__small {
        font-size: .5rem;
    }
    &__tiny {
        font-size: .25rem;
    }
    &__green {
        color: $primaryColor !important;
    }
    &__primary {
        color: $textPrimary !important;
    }
    &__vertical {
        &-lg {
            @include breakdown--over($largeDevice){
                writing-mode: vertical-lr;
                transform: rotateZ(180deg);
            }
        }
        writing-mode: vertical-lr;
        transform: rotateZ(180deg);
    }
    &__primary {
        color: $textPrimary;
    }
    &__purple {
        color: $secondaryColor;
    }
}