// Colors
$primaryColor : #93af2d;

$secondaryColor : #1e2674;

$greyColor : #e1e8ec;
$greyLightColor : #f5f5f5f5;

// Media breakpoint
$smallDevice : 576px;
$mediumDevice : 768px;
$largeDevice : 992px;
$xLargeDevice : 1200px;