// Colors
$primaryColor : #93af2d;
$secondaryColor : #1e2674;
$thirdColor: #7704d8;

$textPrimary: #7b7b7b;
$textSecondary: #eaeaea;

$greyColor : #e1e8ec;
$greyLightColor : #f5f5f5f5;

$icon: 2em;

// Media breakpoint
$smallDevice : 576px;
$mediumDevice : 768px;
$largeDevice : 992px;
$xLargeDevice : 1200px;