* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

@media (max-width: 767px) {
  .rotate-md__90 {
    transform: rotate(90deg); } }

.remove {
  display: none; }
  @media (max-width: 767px) {
    .remove-md {
      display: none; } }
  @media (min-width: 768px) {
    .remove-md__above {
      display: none; } }

.icon {
  line-height: 1.5rem; }

.btn {
  background: #abc843;
  color: #fff !important;
  padding: 0.3rem 2.5rem !important;
  border-radius: 8px;
  font-size: 1.3em; }
  .btn-default, .btn-default:link, .btn-default:visited {
    background-color: #e1e8ec;
    border-color: #e1e8ec; }
  .btn-default:hover, .btn-default:active {
    color: white;
    background-color: #abc843;
    border-color: #abc843; }

.accordion .card:not(:last-child) {
  margin-bottom: 1rem; }

.accordion--content__expansion {
  position: relative;
  padding: .5rem .5rem 0 5rem;
  border: none; }
  .accordion--content__expansion .text--title {
    color: #1e2674;
    text-transform: uppercase; }
    .accordion--content__expansion .text--title::after {
      display: block;
      padding-top: 1rem;
      content: "";
      width: 3rem;
      border-bottom: 2px solid #1e2674; }
  .accordion--content__expansion .collapse {
    position: absolute;
    top: 0;
    bottom: 0; }
  .accordion--content__expansion .collapsing {
    transition: all 0s; }

nav {
  border-bottom: 1px solid #dddddd;
  padding: 15px 0px !important; }

.navbar-nav {
  align-items: center; }
  .navbar-nav--list {
    padding: 0 1.75rem;
    color: #7b7b7b;
    font-size: 1.3em; }
    .navbar-nav--list:hover {
      text-decoration: none;
      color: #abc843; }
    .navbar-nav--list:last-child {
      margin-left: 2.2rem; }

.logo {
  width: 75%;
  height: auto; }

.sub-footer {
  padding: 2.5em 0px;
  background: linear-gradient(to bottom, #7704d8 0%, #7704d8 78%, #ffffff 78%, #ffffff 100%);
  color: #eaeaea; }
  .sub-footer .container {
    position: relative; }
  .sub-footer--left {
    padding-top: 1.3em;
    padding-right: 1em; }
    .sub-footer--left i {
      float: left;
      position: absolute;
      left: 0; }
    .sub-footer--left p {
      font-size: 1.4em;
      margin-bottom: 2.5em; }
    .sub-footer--left p:not(:first-child) {
      position: relative;
      margin-bottom: 1.3em;
      padding-left: 2em;
      font-size: 1.2em; }
  .sub-footer--box {
    /*position: absolute;
        right: 15px;
        width: 90%;*/
    border-radius: 8px;
    background: #ffffff;
    padding: 2.2em 3.5em;
    box-shadow: 1px 1px 10px #a2a2a2;
    margin-left: 2em; }
    .sub-footer--box p {
      color: #abc843;
      font-weight: bold;
      font-size: 2em;
      margin-bottom: 1em;
      letter-spacing: 1px; }

.footer {
  padding: 1.5em 0; }
  .footer ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
    margin: unset; }
    .footer ul li {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #dddddd;
      width: 3em;
      height: 3em;
      text-align: center;
      border-radius: 50%; }
      .footer ul li i {
        font-size: 2em;
        color: #abc843; }

.no-margin {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.white {
  color: #ffffff; }

.services {
  background: linear-gradient(to right, #abc843 0%, #abc843 73%, #ffffff 73%, #ffffff 100%);
  border-radius: 8px;
  margin-top: 5em;
  padding: 0 3em; }
  .services--left {
    position: relative;
    padding-right: 4em; }
    .services--left p {
      color: #ffffff; }
  .services--right img {
    width: 100%;
    margin: 2em 0;
    border-radius: 8px; }

.heading--secondary {
  position: relative;
  padding-bottom: 1.3rem;
  margin-bottom: 2.5rem;
  font-size: 2.5em; }
  .heading--secondary:before {
    content: '';
    position: absolute;
    border-bottom: 5px solid #ffffff;
    width: 14%;
    bottom: 0; }

.heading--number {
  font-size: 10em;
  color: #7704d8;
  margin-top: -0.6em; }

#faq {
  margin: 7rem 0; }

#career {
  margin: 7rem 0; }
  #career .btn-default:hover, #career .btn-default:active {
    background-color: #1e2674;
    border-color: #1e2674; }
  #career .accordion--content__expansion .text--title {
    color: #abc843; }
    #career .accordion--content__expansion .text--title::after {
      border-bottom: 2px solid #abc843; }
