* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.text__huge {
  font-size: 5rem; }

.text__big {
  font-size: 3rem; }

.text__small {
  font-size: .5rem; }

.text__tiny {
  font-size: .25rem; }

.text__green {
  color: #abc843 !important; }

.text__primary {
  color: #7b7b7b !important; }

.text__vertical {
  writing-mode: vertical-lr;
  transform: rotateZ(180deg); }
  @media (min-width: 992px) {
    .text__vertical-lg {
      writing-mode: vertical-lr;
      transform: rotateZ(180deg); } }

.text__primary {
  color: #7b7b7b; }

.text__purple {
  color: #1e2674; }

@media (max-width: 767px) {
  .rotate-md__90 {
    transform: rotate(90deg); } }

.remove {
  display: none; }
  @media (max-width: 767px) {
    .remove-md {
      display: none; } }
  @media (min-width: 768px) {
    .remove-md__above {
      display: none; } }

.icon {
  line-height: 2rem; }

.btn {
  background: #abc843;
  color: #fff !important;
  padding: 0.3rem 2.5rem !important;
  border-radius: 8px;
  font-size: 1.3em; }
  .btn-default, .btn-default:link, .btn-default:visited {
    background-color: #e1e8ec;
    border-color: #e1e8ec;
    color: #7b7b7b !important; }
  .btn-default:hover, .btn-default:active {
    color: white !important;
    background-color: #abc843;
    border-color: #abc843; }

.accordion .card {
  border-radius: 8px !important; }
  .accordion .card:not(:last-child) {
    margin-bottom: 1rem; }

.accordion--content__expansion {
  position: relative;
  padding: .5rem .5rem 0 5rem;
  border: none; }
  .accordion--content__expansion .text--title {
    color: #1e2674;
    text-transform: uppercase; }
    .accordion--content__expansion .text--title::after {
      display: block;
      padding-top: 1rem;
      content: "";
      width: 3rem;
      border-bottom: 2px solid #1e2674; }
  .accordion--content__expansion .collapse {
    position: absolute;
    top: 0;
    bottom: 0; }
  .accordion--content__expansion .collapsing {
    transition: all 0s; }
  .accordion--content__expansion .hide-and-seek {
    position: absolute;
    top: 0;
    bottom: 0; }

nav {
  border-bottom: 1px solid #dddddd;
  padding: 15px 0px !important; }

.navbar-nav {
  align-items: center; }
  .navbar-nav--list {
    padding: 0 1.75rem;
    color: #7b7b7b;
    font-size: 1.3em; }
    .navbar-nav--list:hover {
      text-decoration: none;
      color: #abc843; }
    .navbar-nav--list:last-child {
      margin-left: 2.2rem; }

.logo {
  width: 75%;
  height: auto; }

.sub-footer {
  padding: 2.5em 0px;
  background: linear-gradient(to bottom, #7704d8 0%, #7704d8 78%, #ffffff 78%, #ffffff 100%);
  color: #eaeaea; }
  .sub-footer .container {
    position: relative; }
  .sub-footer--left {
    padding-top: 1.3em;
    padding-right: 1em; }
    .sub-footer--left i {
      float: left;
      position: absolute;
      left: 0; }
    .sub-footer--left p {
      font-size: 1.4em;
      margin-bottom: 2.5em; }
    .sub-footer--left p:not(:first-child) {
      position: relative;
      margin-bottom: 1.3em;
      padding-left: 2em;
      font-size: 1.2em; }
  .sub-footer--box {
    /*position: absolute;
        right: 15px;
        width: 90%;*/
    border-radius: 8px;
    background: #ffffff;
    padding: 2.2em 3.5em;
    box-shadow: 1px 1px 10px #a2a2a2;
    margin-left: 2em; }
    .sub-footer--box p {
      color: #abc843;
      font-weight: bold;
      font-size: 2em;
      margin-bottom: 1em;
      letter-spacing: 1px; }

.footer {
  padding: 1.5em 0; }
  .footer ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
    margin: unset; }
    .footer ul li {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #dddddd;
      width: 3em;
      height: 3em;
      text-align: center;
      border-radius: 50%; }
      .footer ul li i {
        font-size: 2em;
        color: #abc843; }

.no-margin {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.white {
  color: #ffffff; }

#nostraService .services {
  background: linear-gradient(to right, #abc843 0%, #abc843 73%, #ffffff 73%, #ffffff 100%);
  border-radius: 8px;
  margin-top: 5em;
  padding: 0 3em; }
  #nostraService .services--left {
    position: relative;
    padding-right: 4em; }
    #nostraService .services--left p {
      color: #ffffff; }
  #nostraService .services--right img {
    width: 100%;
    margin: 2em 0;
    border-radius: 8px; }
  #nostraService .services .heading--secondary {
    position: relative;
    padding-bottom: 1.3rem;
    margin-bottom: 2.5rem;
    font-size: 2.5em; }
    #nostraService .services .heading--secondary:before {
      content: '';
      position: absolute;
      border-bottom: 5px solid #ffffff;
      width: 14%;
      bottom: 0; }
  #nostraService .services .heading--number {
    font-size: 10em;
    color: #7704d8;
    margin-top: -0.6em; }

#nostraService .carousel-control {
  position: absolute;
  right: 0;
  bottom: 0; }
  #nostraService .carousel-control-prev {
    transform: rotate(90deg); }
  #nostraService .carousel-control-next {
    transform: rotate(90deg); }
  #nostraService .carousel-control-prev, #nostraService .carousel-control-next {
    background-color: #1e2674;
    position: relative;
    margin-bottom: 5px;
    width: 2rem;
    height: 2rem;
    border-radius: 5px; }

#nostraImages {
  margin: 5rem 0; }
  #nostraImages--carousel {
    background-color: #1e2674;
    padding: 1rem;
    border-radius: 5px;
    height: 250px; }
    @media (min-width: 768px) {
      #nostraImages--carousel {
        padding: 1rem 8.3% 1rem 0;
        margin-left: 8.3%; } }
    #nostraImages--carousel::after {
      content: "";
      display: block; }
    #nostraImages--carousel .carousel-inner {
      border-radius: 5px;
      width: 100%;
      height: 100%; }
      @media (min-width: 768px) {
        #nostraImages--carousel .carousel-inner {
          width: 90%;
          right: 16.6%; } }
    #nostraImages--carousel .carousel-item.active {
      display: block; }
    #nostraImages--carousel .carousel-control-next {
      top: auto;
      right: 20%;
      bottom: 1rem;
      justify-content: flex-start; }
  #nostraImages .carousel--text {
    padding: 0;
    padding-right: 8.3%; }
    #nostraImages .carousel--text__title {
      color: #abc843;
      margin-bottom: 2rem;
      text-transform: uppercase;
      font-weight: 700; }

#sectionTheme .carousel-control {
  display: flex;
  align-items: center;
  justify-content: flex-start; }
  #sectionTheme .carousel-control-prev, #sectionTheme .carousel-control-next {
    background-color: #1e2674;
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 5px; }

#sectionTheme .text--title {
  color: #1e2674;
  text-transform: uppercase; }
  #sectionTheme .text--title::after {
    display: block;
    padding-top: 1rem;
    content: "";
    width: 3rem;
    border-bottom: 5px solid #1e2674; }

#sectionTheme .carousel-item.active {
  display: inline-block; }

#sectionTheme2 {
  border: 5px solid #1e2674;
  border-radius: 5px;
  background-color: #1e2674; }
  #sectionTheme2--img {
    background-size: cover;
    background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; }
  #sectionTheme2--caption {
    background-color: white;
    border-left: 1rem solid #1e2674;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; }
    #sectionTheme2--caption .text--title {
      color: #7b7b7b;
      text-transform: uppercase; }
      #sectionTheme2--caption .text--title::after {
        display: block;
        padding-top: 1rem;
        content: "";
        width: 3rem;
        border-bottom: 5px solid #7b7b7b; }
    #sectionTheme2--caption p {
      margin-bottom: .5rem; }

#userStory .userStory--layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start; }
  #userStory .userStory--layout .card-img-top {
    width: 10rem;
    height: 10rem;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    background-color: black; }
    @media (max-width: 575px) {
      #userStory .userStory--layout .card-img-top {
        width: 7rem;
        height: 7rem; } }
  #userStory .userStory--layout .card:hover .userStory--img {
    opacity: .3; }

#userStory .userStory--img {
  height: 100%;
  transition: all .5s; }

#faq {
  margin: 1rem 0 7rem 0; }

#career {
  margin: 1rem 0 7rem 0; }
  #career .btn-default:hover, #career .btn-default:active {
    background-color: #1e2674;
    border-color: #1e2674; }
  #career .accordion--content__expansion .text--title {
    color: #abc843; }
    #career .accordion--content__expansion .text--title::after {
      border-bottom: 2px solid #abc843; }
