.sub-footer{
    padding: 2.5em 0px;
    background: linear-gradient(to bottom, $thirdColor 0%, $thirdColor 78%, #ffffff 78%, #ffffff 100%) ;
    color: $textSecondary;

    .container{ position: relative; }

    &--left{
        padding-top: 1.3em;
        padding-right: 1em;

        i{ 
            float: left; 
            position: absolute;
            left: 0;
        }

        p{ 
            font-size: 1.4em;
            margin-bottom: 2.5em;
        }

        p:not(:first-child){
            position: relative;
            margin-bottom: 1.3em;
            padding-left: 2em;
            font-size: 1.2em;
        }

    }

    &--box{
        /*position: absolute;
        right: 15px;
        width: 90%;*/
        border-radius: 8px;
        background: #ffffff;
        padding: 2.2em 3.5em;
        box-shadow: 1px 1px 10px #a2a2a2;
        margin-left: 2em;

        p{
            color: $primaryColor;
            font-weight: bold;
            font-size: 2em;
            margin-bottom: 1em;
            letter-spacing: 1px;
        }
    }
}

.footer{
    padding: 1.5em 0;

    ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: flex-end;
        margin: unset;

        li{
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #dddddd;
            width: $icon + 1em;
            height: $icon + 1em;
            text-align: center;
            border-radius: 50%;

            i{
                font-size: $icon;
                color: $primaryColor;
            }
        }
    }
}